/* GLOBAL CSS CONFIG. PARA PUBLICAÇÃO*/
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #301934;
  background-color: #F5DEB3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #301934;
}

body::-webkit-scrollbar-thumb {
  background-color: #E30B5C;
  border-radius: 999px;
}

h1, h2, h3, h4, h5, h6 {
  color: #E30B5C;
  font-family: 'Dancing Script';
}

/* 
p {
  font-size: 62.50%;
} */

a {
  cursor: pointer;
  font-weight: 500;
  text-decoration: inherit;
}

header {
  padding: 5px 20px;
  background-color: #5C4033;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 7.5%;
  min-width: 50px;
  height: auto;
  will-change: filter;
  transition: filter 500ms;
}

header .logo:hover {
  filter: drop-shadow(0 0 2em #E30B5C);
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_links li {
  text-transform: uppercase;
  display: flex;
  padding: 0 .625rem 0 0;
}

li a {
  color: #FFF;
}

li a:hover {
  color: #E30B5C;
}

#faq h2{
  padding: 5px 20px;
}

details {
  margin: 0 20px;
  padding: 5px 20px;

  background-color: #FFF;
  border: 2px #E30B5C solid;
}
summary {
  all: unset;
  cursor: pointer;
  color: #7F00FF;
}

footer {
  display: flex;
  flex-direction: column;

  margin: 1.8rem 0 0 0;
  padding: .625rem 20px;

  background-color: #5C4033;
  color: #FFF;
}

footer section {
  display: flex;
  flex-direction: row;
}

.esquerda {
  display: flex;
  flex-direction: column;
  padding-right: 3.5rem;
}

.direita {
  display: flex;
  flex-direction: column;
}

footer section div span {
  display: flex;
  align-items: center;
}

footer section div span p {
  padding-left: 2rem;
  word-wrap: break-word;
}

footer div {
  display: flex;
  justify-content: center;

}

footer div ul {
  list-style: none;
}

footer div ul li {
  display: flex;
  align-items: center;
}

footer div ul li a{
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

/* parte resposiva */
@media only screen and (max-width: 600px) {
  footer section {
    display: flex;
    flex-direction: column;
    padding-right: 1.8rem;
  }
}



#top_home {
  background-image: url('../assets/images/homeLandingPage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #301934;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 6px #E30B5C solid;

  padding-bottom: 6px;
}

#top_home h1 {
  color: #E30B5C; /* #7F00FF */
  font-size: 8rem;
  margin: 0;
}

#top_home h1 span {
  color: #7F00FF; 
}

#top_home h2 {
  color: #FFF;
  margin: 0;
}

#top_home .flex_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#top_home .flex_container .slogan {
  width: 700px;
}

#top_home .flex_container img {
  width: 40%;
}

#top_home a {
  background-color: #E30B5C;
  color: #FFF;
  padding: 1rem;
  border-radius: 100%;
}

/* bolos */
.box_search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;

  background-color: #FFF;
  padding: 10px;
  margin: 20px 0 0 25%;
  border-radius: 3rem;
  border: 2px #E30B5C solid;
}

.box_search input {
  border: none;
  width: 100vw;
  outline: none;
}

#cakes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 20px;
  gap: 8px;
}

#cakes .cake_box {
  background-color: #FFF;
  border-radius: 1rem;
}
#cakes .cake_box:hover{
  border: 2px #7F00FF solid;
}

.cake_box .cake_img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cake_box .cake_title, .cake_box .cake_info, .cake_box .cake_price{
  padding: 0 0 0 10px;
}

.cake_box .cake_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;
}

.cake_box .cake_info .cake_format_type span{
  border: 2px #E30B5C solid;
  border-radius: 2rem;
  padding: 6px;

}

.cake_box .cake_price {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFF;/* color: #00dd00; */
}

@media screen and (min-width: 576px) {
  #cakes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  #cakes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #cakes {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

